doctype html
html

  head
    title #{title}
    style
      include style.css
  

  body
      h1 #{title}
      #content
        p Jade is intuitive
        p.highlighted Here is some highlighted text
        button#alert Click Me


    footer
        span Copyright &copy; 2013
        a(href='/') Home



    script
       include script.js
    