html
	head
		title Welcome
		script(src='javascripts/main.js')
		link(rel='stylesheet',href='stylesheets/style.css')
	body
		#content
			img(src='images/logo.png',width='900px')
			p Welcome
			#smile
